.block__dansak {
    background-image: url("./images/dansak.jpg");
}

.block__korma {
    background-image: url("./images/korma.jpg");
}

.block__biryani {
    background-image: url("./images/Biryani.jpg");
}

.block__curry {
    background-image: url("./images/curry.jpg");
    background-position: right;
}

.block__rogan {
    background-image: url("./images/rogan.jpg");
}

.block__tikka {
    background-image: url("./images/tikka.jpg");
    background-position: bottom;
}

.block__naan {
    background-image: url("./images/nann.jpg");
}

.block__keema {
    background-image: url("./images/keema.jpg");
}

.block__bhaji {
    background-image: url("./images/bhaji.jpg");
    background-position: bottom;
    background-size: 225% !important;
    background-position-y: 0;
}

.close__modal {
    position: fixed;
    top: 9px;
    right: 11px;
    width: 27px;
    height: 32px;
}

.close__modal:hover {
    cursor: pointer;
}

.style__modal {
    height: 35px;
    width: 2px;
    margin-left: 12px;
    background-color: transparent;
    transform: rotate(45deg);
    Z-index: 1
}
.style__modal__cross {
    height: 35px;
    width: 2px;
    background-color: transparent;
    transform: rotate(90deg);
    Z-index: 2
}
.black__cross {
    background-color: black;
}
.fit__guide {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #eef0fb
}

.MW_skinny .image__one {
    background-image: url("")
}
 
.MW_slim .image__one {
    background-image: url("")
}
 
.MW_baggy .image__one {
    background-image: url("")
}
 
.MW_relaxed .image__one {
    background-image: url("")
}
 
.MW_straight .image__one {
    background-image: url("")
}
 
.MW_tapered .image__one {
    background-image: url("")
}
 
.MW_tapered .image__one {
    background-image: url("")
}

.MW_tapered .image__one {
    background-image: url("")
}
 
.MW_tapered .image__one {
    background-image: url("")
}
 

 
.blocks {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer
}
 
div[class^="block__"] {
    position: relative;
    padding-top: 42%;
    background-size: cover;
    width: 33.3%;
    max-width: 33.3%
}
 
.blocks h3 {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 600;
    white-space: pre;
    font-family: cursive;
    text-shadow: 2px 2px darkorange;
}
 
.link__cover {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute
}
 
@media (max-width: 1025px) {
    .blog img {
        width: 40%
    }
}
 

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .square_block {
        height: 100vh !important;
        width: 100% !important
    }
    .main_square {
        height: 70vh;
        width: 100% !important;
        padding-bottom: 0% !important
    }
}
 

@media (max-width: 767px) {
    .fit__guide__hero {
        padding-top: 64%;
        background-position-x: 14%
    }
 
    div[class^="block__"] {
        width: 50%;
        max-width: 50%;
        padding-top: 63%
    }
}
.flex__modal::-webkit-scrollbar {
    display: none
}
 
.flex__modal {
    -ms-overflow-style: none;
    scrollbar-width: none
}
.box {
    width: 25%;
    padding-top: 33%;
    background-size: cover;
    position: relative
}
.options {
    display: flex;
    justify-content: space-between;
    margin: 25px 10px;
    text-align: center;
    padding-bottom: 1.5rem
}
 
.options button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 700
}
 
@media (min-width: 768px) {
    .options {
        display: none
    }
}
 

@media (max-width: 767px) {
    .box {
        width: 50%;
        padding-top: 66%
    }
    .mobile__box {
        width: 50%;
        padding-top: 66%;
        display: block;
        background-color: #ffa89b
    }
}
 

.flex__modal {
    display: none;
    opacity: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 58%;
    width: 46%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 9999;
    animation: visible 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #ffffff;
}
 
@keyframes visible {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
 
.link_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}
 
.square {
    padding-bottom: 31%;
    width: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}
 
.main_square {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}
 
.square__cta {
    padding: 14px 35px;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
    line-height: 16px;
    font-weight: 700;
    text-align: center
}
 
.image__one {
    padding-bottom: 62.5%
}
 
.image__one h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: #ffa89b;
    font-size: 5rem;
    font-weight: 700;
    width: 100%;
    white-space: pre-line;
    line-height: 5.9rem;
    text-align: center
}
 
.image__one .square__cta {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%
}
 
.square_block {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative
}


 
.options {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px;
    z-index: 99
}
 
.options button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 700;
    z-index: 99999
}
 
@media (min-width: 768px) {
    .options {
        display: none
    }
}
 
@media (max-width: 767px) {
 
    .flex__modal {
        flex-direction: column;
       background-color: #ffffff
    }
    .image__one {
        padding-bottom: 124.5% !important;
        height: auto !important;
        width: 100% !important
    }
 
    .square_block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 125vw !important
    }
}
 
@media screen and (orientation: landscape) {
    .portrait__flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%
    }
}
 
@media screen and (orientation: portrait) {
    .landscape__block {
        display: block;
        width: 100%;
        height: 100%
    }
}


/* Country sidebar styling */
.country-list {
    overflow-y: scroll;
    height: 80%;
}
.country-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 16px;
    width: 78%;
    margin: 0 auto;
    margin-bottom: 16px;
}
.country-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.country-radio input:checked ~ .checkmark {
    background-color: #fff;
    border: 2px solid #000;
}
.country-radio input:checked ~ .checkmark:after {
    display: block;
}
.country-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: black;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background-color: #000;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #eee;
}
.delivery-country-selector__overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 375px;
    max-height: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    transition: right 100ms linear;
}
.delivery-country-selector__overlay .searchTitle {
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.delivery-country-selector__overlay .searchTitle h2 {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.delivery-country-selector__overlay .searchTitle .cross {
    margin: initial;
    background: transparent;
    font-size: 1.2em;
}
/* .delivery-country-selector__overlay .searchTitle .cross:before {
    content: "\e90f";
    font-family: icons !important;
} */
 
.delivery-country-selector__overlay .search-bar {
    display: flex;
    position: relative;
    height: 52px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 6px;
    width: 92%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 36px;
}
 
.delivery-country-selector__overlay .search-bar .country-search-input {
    width: 100%;
}
.delivery-country-selector__overlay .search-bar .searchIcon {
    margin: 0;
    max-width: 89px;
    flex: 1;
    flex-basis: 89px;
    padding: 0;
    border-radius: 0;
    font-size: 1.5rem;
    line-height: 48px;
    background-color: #000;
}
/* .delivery-country-selector__overlay .search-bar .searchIcon:before {
    font-family: icons !important;
    content: "\e941";
    color: #fff;
} */
h2#change_country {
    font-weight: 700;
    color: black;
    margin-bottom: 2rem;
}
.slide {
    right: -375px;
}
 
.uk_info {
    display: block;
}
.ireland_info  {
    display: none;
}
.other_countries{
    display: none;
}




.modal__holder {
    width: 100%;
    text-align: center;
}
.modal__info {
    width: 74%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.modal__info div {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.add {
    padding: 1rem 0;
    background-color: #efedea;
    width: 68%;
    margin: 0 auto;
    border-radius: 12px;
    justify-content: space-around;
    display: flex;
}
.modal__holder * {
    font-family: Arial, sans-serif;
}


